<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>

</head>

<body>
<div th:fragment="event_invites" th:remove="tag">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/event_invites.js"></script>
</div>    
    <span th:fragment="event_invites">


        <h1>Manage invitations for the event <span th:text="${userCreatedEventData.eventTitle}" /></h1>

        <p><b>Details</b>: </p>
        <p th:text="${userCreatedEventData.eventDescription}" />
        <p>
            <b>Where</b>: <span th:text="${userCreatedEventData.eventLocation}" />
        </p>
        <p>
            <b>When</b>: 
                <span th:text=${#temporals.dayOfWeekName(userCreatedEventData.eventFromDate)} />
                &nbsp;<span th:text="${userCreatedEventData.eventFromDate}" />
                &nbsp;<span th:text="${#temporals.format(userCreatedEventData.eventFrom, 'HH:mm')}" />
                &nbsp;-&nbsp;<span th:text="${#temporals.format(userCreatedEventData.eventUntil, 'HH:mm')}" />
        </p>
        <span id=invited_count></span>

        <table class="table">
            <tbody  id="invitations">
            </tbody>
        </table>

        <br />

        <h2>Search for colleagues to invite</h2>
        <form class="col-sm-11" method="POST">
            <br />
            <div class="form-group">
                <label for="department">Choose a department:</label>
                <select class="form-control" id="department" style="max-width: 40%;">
                    <option value="0"> ----------- </option>                    
        		    <option th:each="departmentData: ${departmentsData.departmentDataList}"
                            th:value="${departmentData.departmentId}"
                            th:utext="${departmentData.departmentName}"/>

                </select><br />
            </div>

            <div class="form-group">
                <label for="username">Search by name &nbsp;&nbsp;&nbsp;</label>
                <input id="username" class="form-control" type="text" style="max-width: 40%;"><br />
            </div>
            <input id="submitButton" type="submit" value="Search">
        </form>
        <br />
        <table class="table searchresults">

            <thead>
                <tr>
                    <th>.</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody id="results">

            </tbody>

        </table>

        <br />
        <br />
    </div>

</body>

</html>
