<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>mainPage</title>
</head>
<body>
	
	<div id="main-page-container" th:fragment="mainPage">
		<h1>News</h1>

		<div class="article-box col-sm-11 row" th:each="article: ${Articles}">
			<div class="news-title col-sm-6" th:text="${article.newsTitle}"></div>
			<div class="news-published col-sm-3" th:text="${article.newsPublished}"></div>
			<div class="news-creator col-sm-3 text-right" th:text="${article.newsCreator.userEmail}"></div>
			<div class="news-text col-sm-12" th:text="${article.newsText}"></div>
		</div>
	</div>
</body>
</html>