<!-- <!DOCTYPE html> -->
<!-- <html> -->
<!-- <head> -->
<!-- <meta charset="UTF-8"> -->
<!-- <title>Login page</title> -->

<!-- <link rel="stylesheet" -->
<!-- 	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"> -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
<!-- <script -->
<!-- 	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script> -->
<!-- <script -->
<!-- 	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script> -->

<!-- <style> -->
<!-- /* body { */ -->
<!-- /* 	background-color: #aaaaaa; */ -->
<!-- /* } */ -->

<!-- /* .form-signin { */ -->
<!-- /* 	width: 100%; */ -->
<!-- /* 	max-width: 330px; */ -->
<!-- /* 	padding: 15px; */ -->
<!-- /* 	margin: auto; */ -->
<!-- /* } */ -->
<!-- </style> -->
<!-- </head> -->

<!-- <body> -->

<!-- 	<br /> -->

<!-- 	<h1 class="text-center">Wee login page</h1> -->
<!-- 	<br /> -->


<!-- 	<!-- 	<form class="form-signin" action="#" th:action="@{/login}" th:object="${loginFormData}" method="POST"> --> -->
<!-- 	<!-- 		<h3 class="h3 mb-3 font-weight-normal">Please sign in</h3> --> -->
<!-- 	<!-- 		<label for="inputEmail" class="sr-only">Email address</label> --> -->
<!-- 	<!-- 		<input type="email" id="inputEmail" class="form-control" --> -->
<!-- 	<!-- 			placeholder="Email address" required="" autofocus=""> --> -->
<!-- 	<!-- 		<label for="inputPassword" class="sr-only">Password</label>  --> -->
<!-- 	<!-- 		<input --> -->
<!-- 	<!-- 			type="password" id="inputPassword" class="form-control" --> -->
<!-- 	<!-- 			placeholder="Password" required=""> --> -->
<!-- 	<!-- 		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign --> -->
<!-- 	<!-- 			in</button> --> -->
<!-- 	<!-- 	</form> --> -->


<!-- 	<h3 class="h3 mb-3 font-weight-normal text-center">Please sign in</h3> -->

<!-- 	<form class="form-signin" action="#" th:action="@{/login}" -->
<!-- 		th:object="${loginFormData}" method="POST"> -->

<!-- 		<div -->
<!-- 			th:classappend="${#fields.hasErrors('userEmail')} ? 'input-icon right' : ''"> -->
<!-- 			<i th:if="${#fields.hasErrors('userEmail')}" -->
<!-- 				class="fa fa-exclamation tooltips" -->
<!-- 				data-original-title="please enter a valid user email" -->
<!-- 				data-container="body"></i> <input type="text" class="form-control" -->
<!-- 				maxlength="32" th:field="*{userEmail}" placeholder="Email address" -->
<!-- 				required="" autofocus="" /> <span -->
<!-- 				th:if="${#fields.hasErrors('userEmail')}" class="help-block" -->
<!-- 				th:errors="*{userEmail}"> </span> -->
<!-- 		</div> -->

<!-- 		<br /> -->

<!-- 		<div -->
<!-- 			th:classappend="${#fields.hasErrors('userPassword')} ? 'input-icon right' : ''"> -->
<!-- 			<i th:if="${#fields.hasErrors('userPassword')}" -->
<!-- 				class="fa fa-exclamation tooltips" -->
<!-- 				data-original-title="please enter a valid user password" -->
<!-- 				data-container="body"></i> <input type="password" -->
<!-- 				class="form-control" maxlength="32" th:field="*{userPassword}" -->
<!-- 				placeholder="Password" /> <span -->
<!-- 				th:if="${#fields.hasErrors('userPassword')}" class="help-block" -->
<!-- 				th:errors="*{userPassword}"></span> -->
<!-- 		</div> -->

<!-- 		<br /> <input class="btn btn-lg btn-primary btn-block" type="submit" -->
<!-- 			value="Enter" /> -->

<!-- 	</form> -->

<!-- 	<form class="form-signin" action="registration" method="GET"> -->
<!-- 		<input class="btn btn-lg btn-primary btn-block" type="submit" -->
<!-- 			value="Registration" /> -->
<!-- 	</form> -->

<!-- 	<br /> -->

<!-- 	<p class="mt-5 mb-3 text-muted text-center">© 2019</p> -->

<!-- 	<br /> -->

<!-- 	<style> -->
<!-- /* 		img { */ -->
<!-- /* 			position: absolute; */ -->
<!-- /* 			left: 20px; */ -->
<!-- /* 			bottom: 20px; */ -->
<!-- /* 			z-index: -1; */ -->
<!-- /* 		} */ -->
<!-- 	</style> -->

<!-- 	<img th:src="@{/Pics/login.png}" height="150px" width="150px" title="login" id="login"/> -->


<!-- </body> -->
<!-- </html> -->

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>New message</title>
</head>
<body>


	<h1>New message</h1>
	<br />


	<br />

	<form class="col-sm-11" action="#" th:action="@{/messageSend}"
		th:object="${messageFormData}" method="POST"
		th:fragment="newMessagePage">

		<div class="form-group row">
			<label class="col-sm-3" for="userEmail">Addressee (email): </label><br />
			<select class = "col-sm-9" th:field="*{messageToName}" id="dropUser">
				<option value="0">Select addressee</option>
				<option th:each="user : ${users}" th:value="${user.userName}"
					th:text="${user.userName}"></option>
			</select>
			<!-- <input class = "col-sm-9" type="text" th:field="*{messageToEmailAddress}" /><span th:errors="*{messageToEmailAddress}"></span><br /> -->
		</div>


		<br />

		<div class="form-group row">
			<label class="col-sm-3" for="userName">Message: </label><br />
			<!-- 		<input style="height:400px" class = "col-sm-9" type="text" th:field="*{messageBody}" /><span th:errors="*{messageBody}"></span><br /> -->
			<textarea rows="15" cols="100" class="col-sm-9" type="text"
				th:field="*{messageBody}"></textarea>
			<span th:errors="*{messageBody}"></span><br />
		</div>

		<br /> <input class="btn btn-lg btn-primary btn-block" type="submit"
			value="Send message" />

	</form>

</body>
</html>
