<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	
</script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<p th:text="'Logged in as:' + ${loggedInUserId}"></p>

</body>

</html>